*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f2f6fc;
}

header{
    background:#0d6efd;
    color:white;
    padding:20px 50px;
}

header h1{
    margin-bottom:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
    font-weight:bold;
}

.home{
    width:90%;
    margin:20px auto;
}

.container{
    width:90%;
    max-width:900px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,.2);
}

form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

label{
    font-weight:bold;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

textarea{
    height:80px;
    resize:none;
}

input[type="submit"]{
    grid-column:1/3;
    background:#0d6efd;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
}

.output{
    width:90%;
    max-width:900px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}