body{
    font-family: Arial, sans-serif;
    background: lavender;
}

.container{
    width:600px;
    margin:200px;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px gray;
}

input{
    width:80%;
    padding:35px;
    margin:15px;
}

button{
    width:100%;
    padding:20px;
    background:purple;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:darkviolet;
}

#message{
    color:red;
    margin-top:10px;
}