body{
    font-family: Arial, sans-serif;
    background: lavender;
}

.container{
    width: 350px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.logo{
    font-size: 24px;
    color: purple;
    font-weight: bold;
    margin-bottom: 10px;
}

h2{
    color: purple;
}

input{
    width: 90%;
    padding: 10px;
    margin: 8px;
}

.checkbox{
    text-align: left;
    margin-left: 15px;
    font-size: 14px;
}

button{
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background: purple;
    color: white;
    border: none;
}

button:hover{
    background: darkviolet;
}

a{
    color: blue;
    text-decoration: none;
}

.social button{
    width: 90%;
    margin: 5px;
    background: lightgray;
    color: black;
}

.password{
    margin: 8px;
}